input:
  redpanda:
    seed_brokers: ["redpanda:9092"]
    consumer_group: "influxdb_bridge_group"
    topics: ["^sensors\\..*\\..*\\.data$"]
    regexp_topics: true

pipeline:
  processors:
    - mapping: |
        # Décodage du JSON depuis le contenu brut
        let doc = content().parse_json().catch({})

        # Récupération des tags (location=meteo, sensor_id=3)
        let parts = meta("kafka_topic").split(".")
        let loc_tag = $parts.index(1).catch("unknown")
        let sid_tag = $parts.index(2).catch("unknown")

        # Extraction des champs avec des valeurs par défaut de secours
        let dev_id = $doc.device_id | 0
        let lat = $doc.location.latitude | 0.0
        let lon = $doc.location.longitude | 0.0
        let alt = $doc.location.altitude | 0.0
        let forest = $doc.forest_area | "unknown"

        # création de la ligne pour InfluxDB
        # %v pour les nombres, %s pour les chaînes
        let fields = "device_id=%v,lat=%v,lon=%v,alt=%v,forest=\"%s\"".format($dev_id, $lat, $lon, $alt, $forest)
        
        root = "sensor_data,location=%s,sensor_id=%s %s".format($loc_tag, $sid_tag, $fields)

output:
  http_client:
    url: "http://influxdb:8086/api/v2/write?org=iot-org&bucket=sensor-data&precision=s"
    verb: POST
    headers:
      Authorization: 'Token my-super-secret-auth-token'
      Content-Type: text/plain; charset=utf-8
